<form #formulaire= "ngForm" (ngSubmit)="Editer(formulaire)">
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input type="text" name="title" [(ngModel)]="posterEdit.title" class="form-control" id="exampleFormControlInput1" placeholder="titre">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">User Id</label>
      <input type="text" name="userId" [(ngModel)]="posterEdit.userId" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Commentaire</label>
      <textarea class="form-control" name="body" [(ngModel)]="posterEdit.body"  id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-success">Editer</button>
    </div>
  </form>
