<form #formulaire= "ngForm" (ngSubmit)="ajouter(formulaire)">
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input type="text" name="title" ngModel class="form-control" id="exampleFormControlInput1" placeholder="titre">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">User Id</label>
      <input type="text" name="userId" ngModel class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Commentaire</label>
      <textarea class="form-control" name="body" ngModel  id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-success">Qjouter</button>
    </div>
  </form>

